version: 2.1
jobs:
  lint-scripts:
    docker:
      - image: koalaman/shellcheck-alpine
    steps:
      - checkout
      - run:
          name: run-lint
          command: |
            shellcheck -x test/e2e-ci.sh
            shellcheck -x test/lint-charts-local.sh
            shellcheck -x test/e2e-docker4mac.sh
            shellcheck -x test/e2e-local-gke.sh

  lint-install-charts:
    machine: true
    environment:
      CHART_TESTING_IMAGE: quay.io/helmpack/chart-testing
      CHART_TESTING_TAG: v3.3.0
      CHARTS_REPO: https://github.com/rimusz/charts
      K8S_VERSION: v1.18.2
      KIND_VERSION: v0.8.1
    steps:
      - checkout
      - run:
          name: chart-testing
          command: test/e2e-ci.sh
          no_output_timeout: 9000
          
workflows:
  version: 2
  lint_and_install:
    jobs:
      - lint-scripts
      - lint-install-charts:
          requires:
            - lint-scripts
